html {
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100%;
}

body {
  display: block;
  min-width: 320px;
  max-width: 100%;
  min-height: 1024px;
  overflow-x: hidden;
  font-family: TT Lakes;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 0 auto;
  background: #F8F8F8;
}

main {
  display: flex;
  background-color: var(--color-gray);
}
