

.brand {
  display: block;
  padding-bottom: 20px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: visible;
}

.swiper {
  width: 100%;
  height: 100%;
}

.brand-title {
  background: linear-gradient(450deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
}

.brand-title__text {
  font-family: TT Lakes;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 0 20px 20px;
  color: #7E7E82;
}

.swiper {
  width: 240px;
  margin-bottom: 10px;
}

.swiper-pagination {
  z-index: 0;
  bottom: auto !important;
  top: -20px;
}

.swiper-pagination-bullet-active {
  background-color: rgba(181, 182, 188, 1);
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
}

.brand-repair {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
}

.card {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  min-width: 224px;
  height: 72px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #FFFFFF;
}
.button-next {
  margin: 10px;
  border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.button-next:hover {
  opacity: 0.6;
}

.hidden-card {
  background-color: var(--color-white);
  display: none;
  justify-content: space-between;
  min-width: 224px;
  height: 72px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #FFFFFF;
}

.img-card--lenovo {
  align-items: center;
  background-image: url("./img/Lenovo.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 108px;
}

.img-card--samsung {
  align-items: center;
  background-image: url("./img/SAMSUNG.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 116px;
}

.img-card--apple {
  align-items: center;
  background-image: url("./img/Apple.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
}

.img-card--vievSonic {
  align-items: center;
  background-image: url("./img/ViewSonic.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
}

.img-card--bosch {
  align-items: center;
  background-image: url("./img/BOSCH.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
}

.img-card--hp {
  align-items: center;
  background-image: url("./img/hp.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 52px;
}

.img-card--acer {
  align-items: center;
  background-image: url("./img/acer.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 94px;
}

.img-card--sony {
  align-items: center;
  background-image: url("./img/SONY.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 128px;
}

.button-next {
  background-image: url("./img/go.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-pink);
  background-color: var(--color-white);
  border-radius: 20px;
  top: 5px;
}

.brand__show-hide {
  display: none;
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-color: var(--color-gray);
  transition-duration: 0.3s;
  margin: 20px;
  padding: 10px;
}

.brand__show-hide::before {
  display: inline-flex;
  content: "";
  overflow: visible;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: -4px 6px;
  background-image: url("./img/unwrap.svg");
}

.brand__show-hide:hover {
  scale: 110%;
}

.brand__show-hide.expanded::before {
  background-position: -2px 7px;
  background-image: url("./img/rollup.svg");
}

@media (min-width: 320px) {
  .brand-repair {
    display: none;
    -webkit-mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );
    mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 240px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .brand {
    margin-top: 50px;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper {
    display: none;
  }

  .brand-repair {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    overflow: visible;
    place-items: center;
    -webkit-mask: none !important;
    mask: none !important;
  }

  .card {
    display: flex;
    width: 224px;
justify-content: space-between;
  }

  .extra-card {
    display: none;
  }

  .hidden-card {
    display: none;
  }

  .brand__show-hide {
    display: block;
  }
}

@media (min-width: 1120px) {
  .brand-repair {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .card {
    width: 240px;
  }

  .hidden-card {
    display: none;
  }

  .extra-card {
    display: flex;
    width: 240px;
  }

  .extra-card {
    display: flex;
  }
}