* body {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    border: 1px solid #333;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
}

.fieldset {
    border: none;
    padding: 0;
}

.title {
    font-weight: bold;
    padding: 0;
    margin: 10px;
}

.label {
    display: inline-block;
    margin-bottom: 6px;

}

.input,
.textarea {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
}

.input:disabled, .textarea:disabled {
    opacity: 0.7;
}
.checkbox-lable {
    padding-left: 22px;
}
.textarea {
    resize: vertical;
    min-height: 40px;
    min-width: 200px;
}

.checkbox {
    cursor: pointer;
    appearance: none;
    position: absolute;
    outline: none;
    
}
.checkbox::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;

}
.checkbox:checked::after {
background: url(../images/check-icon.svg) no-repeat center, #7b0dcf;
}
.button {
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #7b0dcf;
    color: #fff;
    transition: opacity 0, 2s;
}

.button:hover {
    opacity: 0.85;
}

.button:not(:disabled):active {
    background-color: #6904b7;

}

.button:disabled, .checkbox:disabled::after {
    opacity: 0.7;
    cursor: default;

}

.input:focus-visible,
.textarea:focus-visible, .checkbox:focus-visible::after
.button:focus-visible {
    outline: 2px solid #7b0dcf;
    outline-offset: 1px;

}