.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3cbd9;
}

.number-text {
    text-align: right;
}

.text {
    margin-bottom: 8px;
}

.number {

    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
    transition: color 0.2s;
}

.number:hover {
    color: #3596ed;
}