* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}


.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;

}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-column: 1 / 12 span;
}

.aside {
	background-color: #e2e20d;
	grid-column: 1 / 2 span;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 3 / 12 span;

}

.main .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(2, 350px);
	gap: 10px;
}

.article {
	background-color: #de6e05;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-column: 1 / 12 span;

}

@media (width <=768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: 12 span;
	}
}